*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.task2_container{
    height: 100vh;
}
.form_heading{
    text-align: center;
    margin-bottom: 10px;
}
.form_validation{
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    height: 50%;
}
.form_validation .form_inputs{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.form_validation .form_inputs input{
    margin: 20px 10px;
    height: 10vh;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: 1px solid black;
}
.form_btn{
    margin-top: 30px;
    text-align: center;
}
.form_btn button{
    cursor: pointer;
    padding: 10px 20px;
}

.error{
    color: red;
    padding-left: 10px;
}

.task3_container{
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
}
.task3_body{
    padding: 20px 30px;
    font-size: 3rem;
}
.task3_oprations{
    display: flex;
    width: 50vw;
    justify-content: center;
}
.task3_oprations button{
    margin-left: 20px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: coral;
    color: white;
    letter-spacing: 2px;
    font-size: 1rem;
}