*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.task2_container{
    height: 100vh;
}
.form_heading{
    text-align: center;
    margin-bottom: 10px;
}
.form_validation{
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    height: 50%;
}
.form_validation .form_inputs{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.form_validation .form_inputs input{
    margin: 20px 10px;
    height: 10vh;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: 1px solid black;
}
.form_btn{
    margin-top: 30px;
    text-align: center;
}
.form_btn button{
    cursor: pointer;
    padding: 10px 20px;
}

.error{
    color: red;
    padding-left: 10px;
}

.task3_container{
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
}
.task3_body{
    padding: 20px 30px;
    font-size: 3rem;
}
.task3_oprations{
    display: flex;
    width: 50vw;
    justify-content: center;
}
.task3_oprations button{
    margin-left: 20px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: coral;
    color: white;
    letter-spacing: 2px;
    font-size: 1rem;
}
.task4_container{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.task4_heading{
    margin-bottom: 10px;
}
.task4_details{
    width: 50vw;
    font-size: 1rem;
    padding: 20px;
    text-align: justify;
}
.task4_details h4{
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 0px;
}
.navbar{
    padding: 15px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}

.navbar li{
    list-style: none;
    cursor: pointer;
}

.register_container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    padding: 40px;
    text-align: center;
}
.register_container h4{
    margin-bottom: 15px;
    font-size: 2rem;
}
.register_input{
    display: flex;
    flex-direction: column;
}
.register_input input{
    margin-bottom: 15px;
    padding: 10px;
    outline: none;
}
.register_btn button{
    padding: 8px 15px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 2px;
    background-color: cornflowerblue;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}
.link{
    margin-top: 15px;
}
.task6_navbar{
    background-color: rgb(163, 163, 163);
}
.task6_navbar_ul{
    display: flex;
    list-style: none;
}

.task6_navbar_ul li{
    padding: 0px 20px;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.task6_navbar_ul li a{
    text-decoration: none;
    color: white;
}

.lazy_loading{
    text-align: center;
    font-size: 3rem;
}

.task8_container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.task8_h1{
    padding: 20px;
    font-size: 2rem;
    font-weight: 400;
}

.task8_info{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;

}

.task8_info h2{
    font-weight: 400;
    padding: 20px;
    color: #5f0707;

}

.task8_info h2 span{
    font-weight: 700;
    color: #5f0707;
}


.task8_nav{
    padding: 8px 20px;
    background-color: #5f0707;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 10;
    left: 0;
}

.task8_addTodo{
    padding: 10px 20px;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.task8_addTodo:hover{
    color: wheat;
}

.task8_model{
    position: absolute;
    border-radius: 8px;
    padding: 20px;
    right: 10px;
    top: 3rem;
    background-color: rgb(243, 243, 242);
    width: 30vw;
    height: 30vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.task8_model h2{
    padding-bottom: 10px;
}

.task8_model_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.task8_model_form input{
    padding: 10px;    
    width: 80%;
    outline: none;
    border-radius: 3px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.task8_model_form button{
    width: 20%;
    padding: 5px 10px;
    background-color: #5f0707;
    color: white;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.5s ease;
    letter-spacing: 2px;
    margin-top: 10px;
}

.task8_model_form button:hover{
    background-color: #9c3c3c;
}

.task9_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.task9_container button{
    padding: 5px;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
}
.task9_countDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    flex-direction: column;
}
.task9_countDiv button{
    padding: 5px;
    cursor: pointer;
    margin: 5px;
}
.task9_count{
    padding: 20px;
    font-size: 2rem;
}

.task9_postDiv{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.task9_postDiv h2{
    margin-bottom: 20px;
}

.task10_container{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    align-items: center;
    margin: 25px auto;
    padding: 20px;
}

.task10_heading{
    padding: 15px;
    font-size: 1.5rem;
    color: rgb(73, 60, 42);
    letter-spacing: 2px;
}
.task10_heading_h1{
    font-weight: 300;
    border-bottom: 1px solid black;
}

.task10_body{
    padding: 20px;
    width: 80%;
}


.task10_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task10_input{
    height: 4rem;
    margin: 5px;
    width: 100%;
}

.task10_input input{
    width: 100%;
    padding: 8px;
    outline: none;
    margin: 2px;
    font-size: 1rem;
    border-radius: 4px;
    border: 0.5px solid black;
}
.task10_input input:focus{
    border: 1px solid rgb(51, 190, 255);
}

.task10_btn, .btn10{
    width: 100%;
    padding: 8px;
    outline: none;
}

.btn10{
    border: 1px solid rgba(3, 102, 214, 0.3);
    cursor: pointer;
    font-weight: 600;
    color: rgb(73, 60, 42);
    font-size: 1rem;
    background-color: rgba(3, 102, 214, 0.3);
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

.btn10:hover{
    background-color: rgba(129, 172, 221, 0.3);
    color: black;
}
.task11_nav_div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.2rem;
}
.task11_nav_ul{
    list-style: none;
    display: flex;
}
.task11_nav_ul li{
    padding: 10px;
    margin: 0px 10px;
}
.task11_nav_li_a{
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: all 1s ease;
}

.task11_nav_li_a:hover{
    background-color: black;
    color: white;
}

.task11_count_div, .task11_person_div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    flex-direction: column;
}
.task11_count_heading{
    font-size: 1.3rem;
}

.task11_count_btn button{
    padding: 10px 20px;
    font-size: 1.2rem;
    margin: 10px 0px;
}

.task11_fallback_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.task13_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.task13_add_form{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: 30px 0px;
    padding: 30px;
    display: flex;
}
.task13_add_form form {
    display: flex;
    flex-direction: column;
}
.task13_add_input input{
    width: 100%;
    padding: 8px;
    margin: 10px 0px;
    font-size: 1rem;
}
.task13_add_btn button{
    padding: 5px;
    font-size: 1rem;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(36, 36, 36);
}

.task13_developer_table{
    display: flex;
    font-size: 1.2rem;
}
.task13_developer_table table{
    text-align: center;
    padding: 20px;
}
.task13_developer_table table thead tr th{
    border: 1px solid black;
    padding: 5px 10px;
}

.task13_developer_table table tbody tr td{
    border: 1px solid black;
    padding: 5px 10px;
}

.task13_developer_table table tbody tr td button{
    padding: 5px;
    font-size: 1rem;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(36, 36, 36);
}


